#heading1{
border:3px solid black;
background-color: green;
}
body{
Background-color:darkblue;  
}
.parah1{
 Font-size:30px;
color: white;
}

.infoParah{
  Font align-content: center;
  font-size: 25px;
  color:aliceblue
}

.Parah2{
 font-size:25px;
 color: aliceblue
 }


.Parah3{
 font-size:25px;
 color: aliceblue
 }